<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.spacecraft.mapper.AppIntergralMapper">
  <resultMap id="BaseResultMap" type="com.wl.spacecraft.model.AppIntergral">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="wallet" jdbcType="VARCHAR" property="wallet" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="integral_change" jdbcType="INTEGER" property="integralChange" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="system" jdbcType="INTEGER" property="system" />
    <result column="audit_status" jdbcType="INTEGER" property="auditStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
  </resultMap>


</mapper>