<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.spacecraft.mapper.UserGameMapper">
  <resultMap id="BaseResultMap" type="com.wl.spacecraft.model.UserGame">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
    <result column="phonenum" jdbcType="VARCHAR" property="phonenum" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="game_id" jdbcType="VARCHAR" property="gameId" />
    <result column="og_consume" jdbcType="INTEGER" property="ogConsume" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="og_score" jdbcType="INTEGER" property="ogScore" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>

  <resultMap id="GameRankEntity" type="com.wl.spacecraft.dto.commondto.GameRankEntity">
    <result column="phonenum" jdbcType="VARCHAR" property="phone" />
    <result column="ogObtain" jdbcType="INTEGER" property="ogObtain" />
  </resultMap>

    <!--用户获取金币排行榜，分页-->
  <select id="gameRankList" resultMap="GameRankEntity">
    select phonenum,case when isnull(sum(og_score)) then 0 else sum(og_score) end ogObtain
    from user_game
    where 1=1
    <!--获取社区内排行-->
    <if test="communityUsersPhones != null and communityUsersPhones.size &gt; 0">
      and phonenum in
      <foreach collection="communityUsersPhones" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </if>

    <!--<choose>-->
      <!--<when test="groupUserPhones != null and groupUserPhones.size &gt; 0">-->
          <!--and phonenum in-->
          <!--<foreach collection="groupUserPhones" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>-->
      <!--</when>-->
      <!--<otherwise>-->
        <!--<if test="communityUsersPhones != null and communityUsersPhones.size &gt; 0">-->
          <!--and phonenum in-->
          <!--<foreach collection="communityUsersPhones" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>-->
        <!--</if>-->
      <!--</otherwise>-->
    <!--</choose>-->

    <!--获取游戏内排行-->
    <if test="appKey != null">
      and app_key =#{appKey}
    </if>
    group by phonenum
    order by isnull(phonenum) asc, sum(og_score) desc
    limit #{start},#{pageSize}
  </select>
  <!--获取金币排行榜的总数-->
  <select id="getRankTotal" resultType="java.lang.Integer">
    select count(*) from(
      select 1 from user_game
      where 1=1
      <!--获取社区内排行-->
      <if test="communityUsersPhones != null and communityUsersPhones.size &gt; 0">
        and phonenum in
        <foreach collection="communityUsersPhones" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
      </if>
      <!--获取游戏内排行-->
      <if test="appKey != null">
        and app_key =#{appKey}
      </if>
        group by phonenum
    ) tmp
  </select>

  <!--用户获取金币排行榜，不分页-->
  <select id="getRankList" resultMap="GameRankEntity">
    select phonenum,case when isnull(sum(og_score)) then 0 else sum(og_score) end ogObtain
      from user_game
      where 1=1
    <if test="communityUsersPhones != null and communityUsersPhones.size &gt; 0">
      and phonenum in
      <foreach collection="communityUsersPhones" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </if>
    group by phonenum
    order by isnull(phonenum) asc, sum(og_score) desc
  </select>

  <!--获取金币赠送总量-->
  <select id="getOgRewardAmount" resultType="java.lang.Integer">
    select case when isnull(sum(og_score)) then 0 else sum(og_score) end amount from user_game
    where 1=1
    <if test="usersPhones != null and usersPhones.size &gt; 0">
      and phonenum in
      <foreach collection="usersPhones" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </if>
  </select>


  <select id="getOgRewardViaGame" resultType="java.lang.Integer">
    select case when isnull(sum(og_score)) then 0 else sum(og_score) end  amount from user_game
    where phonenum = #{phone}
  </select>


  <!--用户当日获取金币的总额-->
  <select id="getTodayLimite" resultType="java.lang.Integer">

    select case when ISNULL(sum(og_score)) then 0 else sum(og_score) end limite from user_game
    where phonenum = #{phone}
    and begin_time &gt;= #{beginTime}
    and end_time &lt;= #{endTime}


    <!-- select au.phonenum,au.amount,tmp.limite
    from app_user au
    inner join(
      select ${phone} phonenum , case when ISNULL(sum(og_score)) then 0 else sum(og_score) end limite
      from user_game
      where phonenum = #{phone}
      and begin_time &gt;= #{beginTime}
      and end_time &lt;= #{endTime}
    ) tmp on au.phonenum = tmp.phonenum -->
  </select>
  <!--用户当日获取金币的总额-->
  <select id="getTodayLimiteByApp" resultType="java.lang.Integer">

    select case when ISNULL(sum(og_score)) then 0 else sum(og_score) end limite from user_game
    where phonenum = #{phone}
    and app_key=#{appKey}
    and begin_time &gt;= #{beginTime}
    and end_time &lt;= #{endTime}

  </select>

</mapper>